
.DayPicker .rdp-months {
    margin: 0 auto;
}

.DayPicker .rdp-caption_label {
    font-size: 16px;
    text-transform: uppercase;
}
  
  .DayPicker .rdp-day {
    font-size: 12px;
    max-width: 32px;
    max-height: 32px;
    
  }

  .calendar-filter {
    position: absolute;
    z-index: 10; 
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 266px;
    height: 350px;
  }
