
 .col-md-4 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}


.ant074_testimonials-testim-inner {
    position: relative;
    text-align: center;
    padding: 0 25px 25px 25px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    border-radius: 7px 7px;
    border-bottom: 2px solid #e0e0e0;
    box-shadow: rgba(33, 33, 33, .055) 0 4px 24px 5px;
    flex: 1 1 300px;          
    margin: 10px;             
    height: 100%;            
    min-height: 250px;       
    max-height: none;        
    overflow: hidden; 
}

.ant074_testimonials-testim-inner.expanded {
    max-height: none; 
}

.ant074_testimonials-testim-inner p {
    font-size: 17px;
    line-height: 28px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 5px;
}

.ant074_testimonials-testim-inner h6 {
    font-size: 15px;
    margin-top: 10px;
    line-height: 24px;
    font-weight: 700;
}

.ant__comment {
    color: #868695;
    font-size: 12px;
}


.arrow-6 {
    width: 40px;
    height: auto;
    cursor: pointer;
    overflow: visible;
}

.arrow-6 polygon,
.arrow-6 path {
    transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #337AB7;
}

.custom-arrow--next {
    right: -40px; 
}

.custom-arrow--prev {
    left: -40px;
}

@media (max-width: 779px) {
    .ant074_testimonials-testim-inner {
      min-height: 200px
    }

    }