#toastBox {
    position: fixed; 
    top: 30px; 
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    align-items: flex-start; 
    flex-direction: column;
    gap: 10px; 
    padding: 10px;
    z-index: 100; 
  }
.toast{
   width: 400px;
   height: 100%;
   min-height: 80px;
   background: #fff;
   font-weight: 500;
   margin: 15px 0;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
display:  flex;
align-items: center;
position: relative;
transform: translateY(-100%);
animation: moveDown 0.5s ease-out forwards;
}  


@media (max-width: 768px) {
    .toast {

      max-width: 300px; 
    }
  }

@keyframes moveDown {
    0% {
        transform: translateY(-100%); 
    }
    100% {
        transform: translateY(0); 
    }
}

.toast img{
    margin: 0 20px;
    font-size: 35px;
}

.toast::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 3s linear forwards;
}

@keyframes anim {
    100%{
        width: 0;
    }
}

.toast.error::after{
   background: red;
}

.toast.invalid::after{
    background: orange;
 }
 

