.flag-dropdown {
  border-radius: 12px !important;
  background-color: rgb(237, 246, 247) !important;
  border: none !important;
}

@media (max-width: 1020px) {
  .button-text-none{
    display: none;
  }
}

@media (max-width: 560px) {
  .interesting_title {
    font-size: 28px !important;
  }

  .comment-button {
    font-size: 16px !important;
    padding: 2px 8px !important;
    height: 40px !important;
  }

  .copy_link {
    font-size: 10px;
  }

  .row_panel_social {
    display: block!important;
  }
}

@media (max-width: 480px) {

.button_login {
  font-size: 12px!important;
  height: 28px!important;
  padding: 2px 16px!important;
}

.title_login_ad {
  font-size: 18px!important;
}
}



@media (min-width: 300px) {
  .article--other {
    display: flex;
    flex-direction: column;
    border-radius: 0;
    box-shadow: none;
  }

  .article--other:not(.article--mobile) .article__title {
    margin-bottom: 0;
    font-size: 16px;
  }

  .article--other:not(.article--mobile) .article__title-link {
    display: block;
    text-decoration: none;
    color: inherit;
  }

  .not_article {
    background-color: initial!important;
    border-radius: initial!important;
    overflow: visible!important;
    box-shadow: none!important;
  }

  .article_a:hover {
    color: var(--color-primary-5)!important;
  }


}

.ckeditor-container ul,
.ckeditor-container ol {
  padding-left: 1em;     
  margin: 0;             
}

.ckeditor-container li {
  margin-bottom: 0.5em;  
  overflow-wrap: break-word; 
}


@media (max-width: 990px) {
  .ckeditor-container{
    max-width: 700px;
  }
}


@media (max-width: 870px) {
  .ckeditor-container{
    max-width: 600px;
  }
}

@media (max-width: 660px) {
  .ckeditor-container{
    max-width: 500px;
  }

  .resultnone {
    display: none!important;
  }
}

@media (max-width: 560px) {
  .ckeditor-container{
    max-width: 400px;
  }
}

@media (max-width: 460px) {
  .ckeditor-container{
    max-width: 300px;
  }
}

@media (max-width: 360px) {
  .ckeditor-container{
    max-width: 260px;
  }
}

/* результаты */
@media (max-width: 480px) {
  .result-button {
    display: block!important;
  }
  .resultfooter {
    width: 100%; 
}
  .resultfooter .button--primary-outline {
    width: 100%; 
    padding: 2px 16px;;
  }
  .resultmobile{
     margin-top: 10px;
     justify-content: center!important;
  }

  .resultmobile .button--primary {
    width: 100%;
  }
}


@media (max-width: 780px) {
  .resultfolder {
    display: none;
  }
}


.leaflet-right {
  display: none;
}


/* отзывы */


.col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}


.ant074_testimonials-testim-inner {
  position: relative;
  text-align: center;
  padding: 25px;
  border: 1px solid #ebebeb;
  background-color: #fff;
  border-radius: 7px 7px;
  border-bottom: 2px solid #e0e0e0;
  box-shadow: rgba(33, 33, 33, .055) 0 4px 24px 5px;
  flex: 1 1 300px;          
  margin: 10px;             
  height: 100%;            
  min-height: 250px;       
  max-height: none;        
  overflow: hidden; 
}

.ant074_testimonials-testim-inner.expanded {
  max-height: none; 
}

.ant074_testimonials-testim-inner p {
  font-size: 17px;
  line-height: 28px;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 5px;
}

.ant074_testimonials-testim-inner h6 {
  font-size: 15px;
  margin-top: 10px;
  line-height: 24px;
  font-weight: 700;
}

.ant__comment {
  color: #868695;
  font-size: 12px;
}


.arrow-6 {
  width: 40px;
  height: auto;
  cursor: pointer;
  overflow: visible;
}

.arrow-6 polygon,
.arrow-6 path {
  transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
  fill: #337AB7;
}

.custom-arrow--next {
  right: -40px; 
}

.custom-arrow--prev {
  left: -40px;
}

@media (max-width: 779px) {
  .ant074_testimonials-testim-inner {
    min-height: 200px
  }

  }


  /* фильтр календарь */

  
.DayPicker .rdp-months {
  margin: 0 auto;
}

.DayPicker .rdp-caption_label {
  font-size: 16px;
  text-transform: uppercase;
}

.DayPicker .rdp-day {
  font-size: 12px;
  max-width: 32px;
  max-height: 32px;
  
}

.calendar-filter {
  position: absolute;
  z-index: 10; 
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 266px;
  height: 380px;
}


/* загрузка */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.loader-container .loader1 {
  width: 200px;
  height: 200px;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




/* заглушка */

.ckeditor-container .ckeditor-skeleton {
  position: relative;
  overflow: hidden;
  width: 100%; 
  height: 1000px; 
}

